* {
    box-sizing: border-box;
}

body {
    width: 40%;
    margin: auto;
}



header {
    margin-top: 5px;
    width: 100%;
    background-color: brown;
    height: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
    margin-top: 10px;
  }

.col-25 {
    float: left;
    width: 24%;

}

.col-75 {
    width: 75%;
    display: flex;
    flex-direction: row;
}

label {
}

input {
    width: 100%;
}

